# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [42]:
number=123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [43]:
float=123.456
print(float)
print(type(float))

123.456
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [44]:
2 + 3

5

##### Subtraction

In [45]:
num2=5.7
num1=2
result_diff=num1-num2
print(result_diff)
result_diff-=3
print(result_diff)

-3.7
-6.7

##### Multiplication

In [46]:
prod=num1*num2
prod*=2
print(prod)

22.8

##### Division

In [47]:
div= 4/2
print(div)

2.0

##### Floor Division

In [48]:
floor= 5//2
print(floor)

2

##### Modulo

In [49]:
mod= 5%2
print(mod)
6 % 2 == 0

1

True

##### Exponential

In [50]:
 square=6**2
print(square)
square**=2
print(square)

36
1296

### String Input-Output

##### String Assignment

In [51]:
name= "jayden"
name= 'jayden'
print(name)

jayden

##### print() <br>
<p>Don't forget about end=' '</p>

In [52]:
print(name," is my name", sep="**")

jayden** is my name

##### String Concatenation

In [53]:
first="kristen"
last="nakamoto"
fullname=first+" "+last
print(fullname)
fullname+= " is a great student"
print(fullname)

kristen nakamoto
kristen nakamoto is a great student

##### Type Conversion

In [54]:
num4=3
num5="4"

print(num4+int(num5))

7

##### input()

In [55]:
age = 
print(age)
print(type(age))

SyntaxError: invalid syntax (Temp/ipykernel_18508/2594521406.py, line 1)

##### format()

In [ ]:
age =int(input("what is your age? "))
result_string= 'you are {} years old and you are getting wiser'.format(age)
print(result_string)

#### f strings

In [ ]:
age = int(input("what is your age? "))
result_string= f'you are {age} years old and you are getting wiser'
print(result_string)

##### Old Way (python 2)

In [ ]:
age = "35"
result_str = 'you are %s and you look great!' %age
print(result_str)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
car= input("what make is the car")
color= input("what color is the car")
year= input("what year is the car")
print(f"you drive a {color} {car} from {year}!")

### If Statements

In [ ]:
one=5
two=10

if one != two:
    #the code block
    print(" not equal")
else:
    print("equal")

In [ ]:
one=20
two=2
if one > two:
    print("one is greater")
elif one < two:
    print("one is lesser")
else:
    print("equal to")

In [57]:
True or False

True

In [56]:
one == 20 or two == 2

True

In [66]:
#Ternary Operator ... inline of statements

# [value if true] [if] [boolean] [else] [value if false]

name= "john"

my_num= 5 if name == "steve" else 0
print(my_num)
my_num = 5 if name == "steve" else 20 if name == "john" else 210
print(my_num)

0
20

##### 'is' keyword

In [67]:
#only use for none
y = None
if y is None:
    print("y is none")

y is none

##### 'in' keyword

In [68]:
#check if a char is in a name
char_name= "max payne"
if "max" in char_name:
    print(" the character who lost everything")

 the character who lost everything

##### 'not in' keyword'

In [70]:
sega= "sonic"
if "s" not in sega:
    print("s os not in the name")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [73]:
name = input("What is your name? ")
if "P" not in name.upper():
    print("P is not present")
else:
    print("P is present")

What is your name? Paul
P is present

In [75]:
"p" in input("what is your name ").lower()

what is your name jayden

False

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [77]:
# for [placeholder] in [iterable]

name= "xaiver"
for letter in name:
    print(f"the next letter is {letter}")
    print("another line")
print("a third line")

the next letter is x
another line
the next letter is a
another line
the next letter is i
another line
the next letter is v
another line
the next letter is e
another line
the next letter is r
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [80]:
list(range(0,9,3))

[0, 3, 6]

In [81]:
x,y=["a","b"]
print(x)
print(y)

a
b

In [83]:
foods= ["pizza","tacos","dim sim","sushi"]
for food in foods:
    print(food.title())
    print(foods)

Pizza
['pizza', 'tacos', 'dim sim', 'sushi']
Tacos
['pizza', 'tacos', 'dim sim', 'sushi']
Dim Sim
['pizza', 'tacos', 'dim sim', 'sushi']
Sushi
['pizza', 'tacos', 'dim sim', 'sushi']

In [86]:
len(foods)

4

In [89]:
foods[1]

'tacos'

In [90]:
for index in (range(len(foods))):
    print(index)
    print(foods[index])

0
pizza
1
tacos
2
dim sim
3
sushi

In [94]:
for index, food in enumerate(foods):
    print(f"at index {index} the value is {food}" )

at index 0 the value is pizza
at index 1 the value is tacos
at index 2 the value is dim sim
at index 3 the value is sushi

##### Break Statement

In [97]:
for n in range(10):
    if n == 5:
        break;
    print("move to next")

move to next
move to next
move to next
move to next
move to next

In [98]:
for n in range(10):
    if n == 5:
        continue;
    print("move to next")

move to next
move to next
move to next
move to next
move to next
move to next
move to next
move to next
move to next

##### Pass Statement

In [99]:
for food in foods:
    pass

##### Double For Loops

In [100]:
for i in range(5):
    for j in range(5):
        print(f"i={i} j={j}")

i=0 j=0
i=0 j=1
i=0 j=2
i=0 j=3
i=0 j=4
i=1 j=0
i=1 j=1
i=1 j=2
i=1 j=3
i=1 j=4
i=2 j=0
i=2 j=1
i=2 j=2
i=2 j=3
i=2 j=4
i=3 j=0
i=3 j=1
i=3 j=2
i=3 j=3
i=3 j=4
i=4 j=0
i=4 j=1
i=4 j=2
i=4 j=3
i=4 j=4

### While Loops

In [101]:
# while [boolean]:
    #code block
num = 0
while num < 10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [102]:
while True:
    print("hello")
    break

hello

In [103]:
while True:
    user=input("quir or continue? ")
    if user.lower() == "quit":
        break
    print("you didnt type quit")

quir or continue? ewewe
you didnt type quit
quir or continue? erf
you didnt type quit
quir or continue? quit

##### While & For Loops Used Together

### Built-In Functions

##### range()

In [6]:
range(start,stop,step)

##### len()

In [104]:
len("hey")

3

##### help()

In [105]:
 
#help menu
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

##### isinstance()

In [106]:
num = 2
type(num)

int

In [107]:
isinstance(num,str)

False

##### abs()

In [10]:
# absolut value .. dist from 0

### Try and Except

In [108]:
int("steve")

ValueError: invalid literal for int() with base 10: 'steve'

In [113]:
try:
    int(123)
except:
    print("it fucked up")
finally:
    print("keep movin forward")

SyntaxError: invalid syntax (Temp/ipykernel_18508/4277446996.py, line 7)

In [114]:
raise ValueError("weee")

ValueError: weee

In [ ]:
! = bang,exclamation point
#- pouind sign or hash
[]=brackets
()= paranthesis
{}= braces
#! shebang
% grapes
<> angle brakcets
^ carrot

### Lists

##### Declaring Lists

In [115]:
names = ["jayden","zach","kenny"]
print(names)

['jayden', 'zach', 'kenny']

##### Indexing a List

In [120]:
print(names[2])

a_list = [1,2,3,["a","b","c"],4]
a_list
a_list[3][1]

names[1:3]

s="racecar"
if s == s[::-1]:
    print("is palindrome")

kenny
is palindrome

##### .append()

In [135]:
names = ["jayden","zach","kenny"]

In [136]:
names.append("eryn")
print(names)

['jayden', 'zach', 'kenny', 'eryn']

##### .insert()

In [137]:
names.insert(1,"chelsey")
print(names)

['jayden', 'chelsey', 'zach', 'kenny', 'eryn']

##### .pop()

In [138]:
print(names.pop(-2))
names

kenny

['jayden', 'chelsey', 'zach', 'eryn']


##### .remove()

In [140]:
names.remove('zach')
names

['jayden', 'chelsey', 'eryn']

##### del()

In [141]:
# dont use in for loop

names = ["jayden","zach","kenny"]
del names[1]
names

['jayden', 'kenny']

##### Concatenating Two Lists

In [142]:
l1=[2,3,4]
l2=[3,6,7]
l2 + l1

[3, 6, 7, 2, 3, 4]

In [143]:
l2.extend(l1)
l2

[3, 6, 7, 2, 3, 4]

##### Lists Within Lists

In [19]:
nest=["max","sally",[1,2,["a","b"],3],7]

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [11]:
cubes = 0
while cubes < 1000:
    cubes += 1
    cubed=cubes**3
    print(cubed)
    if cubed == 1000:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [32]:
num = 0
prime = 1
while num < 25:
    prime += 1
    count = 1
    for n in range(2,prime):
        if prime % n == 0:
            count = 0
            break
    
    if count == 1:
        print(prime)
        num += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [21]:
age = input("How old are you?  ")
if age > '65':
    print("Off to a senior center with you!")
elif age >= '18':
    print("Hello fellow adult!")
else:
    print("You're a child!")

How old are you?  44
Adult